<ul class="menu">

    <li class="item">
            <span class="glyphicon glyphicon-flag"></span>
            <a class="link" href="newsMgr.html">管理</a>
        </li>
        <li class="item">
            <span class="glyphicon glyphicon-th-list"></span>
            <a class="link">子菜单</a>
            <span class="glyphicon glyphicon-chevron-down rightIcon"></span>
            <ul class="subMenu">
                <li class="sItem">
                    <span class="circle">原点</span>
                    <a class="sLink" href="#">子菜单1</a>
                </li>
                <li class="sItem">
                    <span class="circle">原点</span>
                    <a class="sLink" href="#">子菜单2</a>
                </li>
                <li class="sItem">
                    <span class="circle">原点</span>
                    <a class="sLink" href="#">子菜单3</a>
                </li>
            </ul>
        </li>
</ul>