<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="webkit" name="renderer">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="keywords" content="xxxx"/>
    <meta name="description" content="xxxx">
    <title>用户管理</title>
    <base href="http://localhost/competitionStatic/">

    <link href="resources/css/lib/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="resources/css/lib/jquery.dataTables.css" rel="stylesheet" type="text/css">
    <link href="resources/css/lib/jquery.toastmessage.css" rel="stylesheet" type="text/css">
    <link href="resources/css/src/main.css" rel="stylesheet" type="text/css">
</head>
<body>

<script src="views/backend/header.js"></script>

<div class="left">
    <script src="views/backend/menu.js"></script>
</div>

<div class="right">
    <div class="main">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">管理</h1>
            </div>
            <div class="panel-body" id="opt-body">
                
                <div class="row">
                    <div class="input-group col-md-6">
                        <input type="text" id="searchContent" class="form-control" placeholder="内容">
                        <span class="input-group-btn">
                            <button id="searchBtn" class="btn btn-default" type="button">搜索</button>
                        </span>
                    </div>
                </div>
                
                <table id="myTable" class="dataTable">
                    <thead>
                    <tr>
                        <th>内容</th>
                        <th>日期</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--回复-->
<div class="modal fade" id="replyModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">回复评论</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="replyForm" data-action="manager/comments/:id/reply"
                      action="#" method="post">
                    <div class="form-group">
                        <label  class="control-label col-md-2">评论内容*</label>
                        <div class="col-md-8">
                            <p id="commentContent">评论详情评论详情评论详情评论详情评论详情评论详情</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="control-label col-md-2">回复*</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="content" >
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-primary" value="确定">
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="views/backend/loading.js"></script>

<script>
    var pageName="user";
</script>
<script src="resources/js/lib/jquery-2.0.3.min.js"></script>
<script src="resources/js/lib/bootstrap.min.js"></script>
<script src="resources/js/lib/jquery.dataTables.min.js"></script>
<script src="resources/js/lib/jquery.validate.min.js"></script>
<script src="resources/js/lib/jquery.serialize-object.min.js"></script>
<script src="resources/js/lib/jquery.toastmessage.js"></script>
<script src="resources/js/src/config.js"></script>
<script src="resources/js/src/functions.js"></script>
<script src="resources/js/src/backend/newsMgr.js"></script>

</body>
</html>
